*{
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color:#666666;
}
html, body { 
	height: 100%; 
}
a{
	color: #666666;
	text-decoration: none;
}
.recruit-banner {
	width: 100%;
	/*height: 725px;*/
	position: relative;
	min-width: 1100px;
}
.recruit-center{
	width: 100%;
  min-width: 1100px;
}
.recruit-center-title{
	height: 60px;
	line-height: 60px;
	padding: 0 12%;
	background: #F5F5F5;
	box-shadow: inset 0px -5px 3px rgba(214, 214, 214, 0.5);
}
.recruit-center-title-btext{
	font-size: 18px;
	color:#333;
	float: left;
}
.recruit-center-title-text{
	float: right;
}
.recruit-center-title-text--active{
	color:#088AC4;
	margin-right:80px;
}

.recruit-center-white{
	background: #fff;
}
.recruit-center-white-sencod,
.recruit-center-white-first{
	padding: 0 12%;
	border-bottom: 1px solid #088AC4;
}
.recruit-center-white-first,
.recruit-center-white-sencod{
	position: relative;
}
.recruit-center-white-first-da{
	height: 600px;
  width: 95%;
  mix-blend-mode: normal;
  opacity: 0.31;
  margin-left: 5%;
  margin-top: 20px;
}
.recruit-center-white-first-cont,
.recruit-center-white-sencod-cont{
  position: absolute;
  top: 80px;
  left: 12%;
  width: 76%;
}
.recruit-center-white-first-title,
.recruit-center-white-sencod-title{
	text-align: center;
}
.recruit-center-white-first-title span{
	color: #333333;
	font-size: 18px;
	font-weight: bold;
}
.recruit-center-white-first-text{
	height: 256px;
  margin-top: 119px;
}
.recruit-center-white-first-hh,
.recruit-center-white-sencod-hh{
	float: left;
	width:33%;
  text-align: center;
  border-right: 1px solid #C3C3C3;
}
.recruit-center-white-sencod-hh{
	width: 43%;
  height: 400px;
  margin-top: 30px;
  padding: 0 35px;
	text-align: left;
}
.recruit-center-white-first-hh:last-child,
.recruit-center-white-sencod-hh:last-child{
	border-right:0;
}
.recruit-center-white-first-hh img{
	width: 85px;
}
.recruit-center-white-first-hh span{
  color: #000;
  line-height: 70px;
  font-weight: bold;
}
.recruit-center-white-first-sss{
  padding: 0 20px;
  text-align: left;
  font-size: 13px;
  line-height: 24px;
}

.recruit-center-white-sencod-da{
	height: 600px;
  width: 95%;
  margin-left: 5%;
}
.recruit-center-white-sencod-title span{
	font-size: 22px;
}
.recruit-center-white-sencod-sss{
	color: #333333;
	font-size: 18px;
	font-weight: bold;
  margin-top: 45px;
  line-height: 50px;
}
.recruit-center-white-sencod-line{
	width: 78px;
  height: 1px;
  background: #666;
  margin-top: 10px;
}
.recruit-center-white-sencod-aaa{
	margin-top: 20px;
	line-height: 24px;
}
.recruit-center-white-sencod-ul{
	margin-top: 18px;
	height: 365px;
  overflow: auto;
}
.recruit-center-white-sencod-item{
	line-height: 60px;
  border-bottom: 1px solid #DDDDDD;
  color:#333;
  position: relative;
  margin-right: 20px;
}
.recruit-center-white-sencod-item:last-child{
	border-bottom:0;
}
.recruit-center-white-sencod-item span{
	float: left; 
}

.right {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 7px solid #DDDDDD;
  border-bottom: 7px solid transparent;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 24px;
  right: 0;
}
.recruit-center-white-sencod-hhh{
	padding: 0 0 0 3%;
}